<!DOCTYPE html>
{% extends "froggy/base.html" %}
{% block content %}
{% load staticfiles %}
{% load bootstrap3 %}
<html>
<head>
	<title>Новый пост</title>

	{% bootstrap_css %}
	{% bootstrap_javascript %}	
</head>
<body id="pad">

	<p><a href="{% url 'froggy:topic' topic.id %}">{{ topic }}</a></p>

	<p>Новый пост:</p>
	<form action="{% url 'froggy:new_entry' topic.id %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button name="submit" class="btn btn-primary">Опубликовать</button>
	</form>

</body>
</html>
{% endblock content %}